<?xml version="1.0"?>
<configuration>
  <sitecore>
    <unicorn>
      <configurations>
        <targetDataStore physicalRootPath="$(sourceFolder)\Project\serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
        <configuration name="AIEnterprise.Foundation.Serialization" description="Configuration to serialize templates">
          <predicate>
            <!-- Templates -->
            <include name="Templates.Features" database="master" path="/sitecore/templates/Feature/AIE" />
            <!--<include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation/YourSite" />-->
            <include name="Templates.Project" database="master" path="/sitecore/templates/Project/AIE" />
            <!--Layouts-->
            <!--<include name="Layouts.Features" database="master" path="/sitecore/layout/Layouts/Feature/YourSite" />-->
            <include name="Layouts.Foundation" database="master" path="/sitecore/layout/Layouts/Foundation/AIE" />
            <!--<include name="Layouts.Project" database="master" path="/sitecore/layout/Project/Layouts/YourSite" />-->
            <!--Renderings-->
            <include name="Renderings.Features" database="master" path="/sitecore/layout/Renderings/Feature/AIE" />
            <!--<include name="Renderings.Foundation" database="master" path="/sitecore/layout/Renderings/Foundation/YourSite" />
            <include name="Renderings.Project" database="master" path="/sitecore/layout/Renderings/Project/YourSite" />-->
            <!--Media Library-->
            <include name="Media.Features" database="master" path="/sitecore/media library/Feature/AIE" />
            <!--<include name="Media.Foundation" database="master" path="/sitecore/media library/Foundation/AIE" />-->
            <include name="Media.Project" database="master" path="/sitecore/media library/Project/AIE" />
            <!--Content Items-->
            <include name="AIE.Items" database="master" path="/sitecore/content/AIE" />
            <!--WorkFlows-->

            <!-- Placeholder Settings -->

            <!--Forms-->
            <include name="AIE.Forms" database="master" path="/sitecore/Forms/AIE" />

            <!--Forms-->
            <include name="AIE.FormsSaveActions" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/AIE" />
            
            <!--Themes-->
            <include name="AIE.Themes" database="master" path="/sitecore/media library/Themes/AIE" />
                       
           

          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>
