<div id="myModalSuccess" class="modal" style="display:none">
    <!-- Modal content -->
    <div>
        <div class="confirmation">
            <div tabindex="-1" class="confirmation--overlay modal__overlay" data-micromodal-close>
                <div class="confirmation--modal modal__container" role="dialog" aria-modal="true" aria-labelledby="confirmation-modal-1-title">
                    <div class="confirmation--check">
                        <img src="/-/media/Project/AIE/AIE%20Corporate%20Site/Global/logo.png" alt="logo" />
                    </div>
                    <div class="confirmation--content" id="confirmation-modal01-content"></div>
                    <div style="text-align: center;padding-top: 10px;">
                        <button type="button" class="btn confirmation--close close popup_btn" onclick="close_popup()">OK</button>
                    </div>
                </div>
            </div>
            <span class="close">&times;</span>
        </div>
    </div>
    <div id="myModalFailure" class="modal" style="display:none">
        <!-- Modal content -->
        <div>
            <div class="confirmation" >
                <div tabindex="-1" class="confirmation--overlay modal__overlay" data-micromodal-close>
                    <div class="confirmation--modal modal__container" role="dialog" aria-modal="true"
                         aria-labelledby="confirmation-modal-1-title">
                        <div class="confirmation--check-failed">
                            <img src="/-/media/Project/AIE/AIE%20Corporate%20Site/Global/logo.png" alt="logo" />
                        </div>
                        <div class="confirmation--content" id="confirmation-modal01-content1"></div>
                        <div style="text-align: center;padding-top: 10px;">
                            <button type="button" class="btn confirmation--close close popup_btn">OK</button>
                        </div>
                    </div>
                </div>
                <span class="close">&times;</span>
            </div>
        </div>
    </div>
</div>