################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# vs code
/.vs/

/packages


/src/**/**/code/bin
/src/**/**/code/obj
/src/**/**/code/obj/debug

/src/Feature/Forms/Code/bin
/src/Feature/Forms/Code/obj

/src/**/code/bin
/src/**/code/obj

/src/**/*.xml
/src/**/*.dll.config

/**/*.user
/node_modules

/src/Project/code/App_Config/Include/AIEnterprise/Project/z.Common.Settings.config
