body{
    overflow-x: hidden;
}
/* 
#top-area {
    border-top: 5px solid #00bcd4;
    color: #5f727f;
    border-bottom: 1px solid #dfe5e8;
    background-color: #f4f6f7;
    padding: 10px 0;
    border-bottom: 1px solid #494c64;
    position: relative;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 21px;
    padding-right: 21px;
}

img{
    width: 20px;
    height: 20px;
}

.img-block{
    display: block;
} */
