#why-aienterprise {
    padding: 60px 0;
    font-size: 18px;
    line-height: 28px;
}

#why-aienterprise h2{
    color: #46485c;
    font-weight: normal;
    font-size: 42px;
    font-weight: 400;
}

#why-aienterprise .why-aie-text{
    padding: 0 20% 0 0;
}

#why-aienterprise .why-aie-block{
    margin-top: 80px;
    color: #00bcd4;
}

#why-aienterprise .why-aie-block{
    margin-top: 80px;
    color: #00bcd4;
}

#why-aienterprise .why-aie-block p{
    color: #5f727f;
}