.blog-type-title {
margin-top: 40px;
margin-left: 40px;
}
.blog-home-page .tag-cloud-item {
    border: 2px solid black;
    padding: 25px 30px 25px 30px;
    background-color: #f4f6f7
    margin-right: 25px !important;
}

.blog-home-page .tag-cloud-item a {
    font-size: 20px !important;
    font-weight: bold;
    text-transform: uppercase;
}
.blog-home-page .tag-cloud-item:hover { 
  background-color: goldenrod;
 }

.blog-home-page .tag-cloud-item a:hover { 
 color: #fff !important;
}

.blog-home-page .tag-cloud-item.active { 
  background-color: goldenrod;
  color: #fff !important;
}

.tag-cloud-component {
margin-left: 40px;
margin-top: 40px;
}

.tag-cloud-component span{
margin-right: 25px;
}

.search-results-count{
margin-left: 40px;
margin-top: 40px;
}

.search-results{
margin-left: 40px;
margin-top: 40px;
padding-right: 100px;
}

.search-result-list li:hover{
background-color: aliceblue;
}
.results-count{
display: block;
font-size: xx-large;
}

.search-result-list li{
    margin-bottom: 25px;
    border-top: 2px solid black;
}

.span-blog-type{
    background-color: goldenrod;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.field-blog-title{
font-weight: 900;
}

.field-introduction{
margin-bottom: 10px;
}

.blog-author-date-separator{
padding: 0px 10px 0px 10px;
}

/********Blog Detail *******/
.blog-detail-banner-title{
padding-top:100px;
color: white !important;
font-weight: bolder;
}

.blog-detail-banner-date{
color: white;
font-weight: bold;
}
.blog-detail-banner-separator{
color: white !important;
padding-left: 20px;
padding-right: 20px;
font-weight: bold;
}

.blog-detail-banner-author{
color: white;
font-weight: bold;
}

.blog-detail-main .component-content{
margin-left: 45px;
}
.blog-detail-main-title{
color: #231f20 !important;
font-size: 47px !important;
font-weight: 700;
}
.blog-detail-main-separator{
margin: 0 10px;
}
.blog-detail-main-author{
color: #231f20 !important;
font-size: 20px !important;
}
.blog-detail-author-container{
    font-size: 18px;
    background-color: #f1f2f2;
    border-top: 2px solid #d1d3d4;
    margin-bottom: 2rem;
    padding: 1rem;
    padding-left: 475px;
}
.blog-detail-author-name{
margin-left: -25px;
}

.blog-detail-content{
    border: 2px solid #d1d3d4;
    padding: 10px 10px 10px 10px;
    margin-bottom: 11px;
}
.blog-detail-right-title {
 color: #231f20 !important;
 margin-left: 25px;
 font-weight: 700;
}
.blog-detail-page .tag-cloud-item{
    border: 2px solid #d1d3d4;
    display: block;
    width: 158px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.blog-detail-page .tag-cloud-item a {
    font-size: 20px !important;
    font-weight: bold;
}
.blog-detail-page .tag-cloud-item:hover { 
  background-color: goldenrod;
 }

.blog-detail-page .tag-cloud-item a:hover { 
 color: #fff !important;
}
.social-media-share .component-content {
    width: 150px;
    border: 2px solid #15909c;
    height: 200px;
}
.social-media-share .component-content li {
margin-left: 15px !important;
margin-bottom: 25px;
}
.blog-detail-content p {
font-size: 20px !important;
color: #000000 !important;
background-color: #ffffff !important;
}

.blog-results-content-wrapper .field-introduction{
  margin-top:10px;
}
.blog-results-content-wrapper .field-blog-title{
    margin-top:15px;
}
@media only screen and (max-width:767px){
.blog-home-page .tag-cloud-item{

   margin-bottom:10px;
   display:inline-block;
  margin-left: -8px;
   

}
.blog-search-results-row{
    display:inline-block;
}
.tag-cloud-component {
     margin-left: 10px; 
     margin-top: 40px; 
}
.tag-cloud-component .tag-cloud-item a{
font-size:17px !important;

}
.search-result-list .blog-search-results-row .field-blog-image img{

 margin-left: 20px !important;
    width: 250px;

}
.blog-results-content-wrapper{
  margin-left:25px;
  width:100%;
  text-align:justify;

}
.blog-home-page .tag-cloud-item {
  padding:0px;
}
.blog-home-page .tag-cloud-item {
 padding-right: 5px;
    padding-left: 10px;
}
.blog-home-page{
  margin-left: 17px; 
}
.blog-results-content-wrapper .field-blog-title a{
  font-size:20px !important;
  	color:	#A9A9A9;

}
.blog-results-content-wrapper .field-introduction{
    margin-top:20px;
}
.blog-search-results-row .span-blog-type{
    margin-left:100px;
}
.search-result-list li {

    border-top: none;
}


}
@media (min-width: 768px) and (max-width: 1024px){
	.blog-search-results-row .blog-results-content-wrapper{

	  margin-left:100px;
	  text-align:justify

	}
	.blog-results-content-wrapper .field-blog-title {
    margin-top: 0px;
}
	
	.tag-cloud-component {
    margin-left: 12px;
}	
	.blog-home-page .tag-cloud-item {

   
    padding: 7px 4px 9px 8px;
	}
.tag-cloud-component {
    margin-left: 12px;
}	
.tag-cloud-component .tag-cloud-item {
    margin-right: 19px;
}
.search-result-list li {
   
    border-top: 1px solid black;
}

.blog-home-page .tag-cloud-item {
    border: 1px solid black;
}
.blog-home-page .tag-cloud-item a {
    font-size: 17px !important;
} 
	
}	