.blog-detail-content table {
border: 1px solid #d2d2d2 !important;
}

.blog-detail-content td, th {
  border: 1px solid #dddddd !important;
  text-align: left!important;
  padding: 8px!important;
}
.blog-search-results-row .blog-results-content-wrapper{
	margin-left:25px;
}
.blog-home-page .tag-cloud-item {
    border: 1px solid black;
    padding: 25px 30px 25px 30px;
    margin-right: 22px !important;
}
.position-center .blogbanner div{
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.position-center .blogbanner div h1{
	color:#ffff
}
.blog-home-page .tag-cloud-item a {
    font-size: 18px !important;
    text-transform: uppercase;
}
.blog-home-page .tag-cloud-item:hover { 
background-color: #00bcd4;
 }
.blog-home-page .tag-cloud-item a:hover { 
 color: #fff !important;
}
.blog-home-page .tag-cloud-item.active { 
 background-color: #00bcd4;
  color: #fff !important;
}
.tag-cloud-component {
margin-left: 40px;
margin-top: 40px;
}
.search-results-count{
margin-left: 40px;
margin-top: 40px;
}
.search-results{
margin-left: 56px;
margin-top: 40px;
padding-right: 100px;
}
.search-result-list li:hover{
background-color: aliceblue;
}
.search-results-count .results-count{
font-size: 30px;
margin-left: 12px;
}
.search-result-list li{
    margin-bottom: 25px;
    border-top: 1px solid black;
}
.blog-search-results-row .span-blog-type{
   background-color: #00bcd4;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: #ffffff;
	margin-left: 16px;	
}
.blog-results-content-wrapper .field-introduction{
margin-bottom: 10px;
}
.blog-author-date-separator{
padding: 0px 10px 0px 10px;
}
/********Blog Detail *******/
.blog-search-results-row .col-10 .blog-results-content-wrapper h2 a:hover{
	text-decoration:underline !important;
} 
.blog-detail-banner-title{
padding-top: 153px;
color: white !important;
}
.blog-detail-banner-date{
color: white;
font-weight: bold;
}
.blog-detail-banner-separator{
color: white !important;
padding-left: 20px;
padding-right: 20px;
font-weight: bold;
}
.blog-detail-banner-author{
color: white;
font-weight: bold;
}
.blog-detail-main .component-content{
margin-left: 61px;
}
.blog-detail-main-separator{
margin: 0 10px;
}
.blog-detail-author-container{
	margin-left: 11px;
    background-color: #f1f2f2;
    border-top: 2px solid #d1d3d4;
    margin-bottom: 2rem;
    padding: 1rem;
  }
.blog-detail-content{
   padding: 10px 10px 10px 10px;
    margin-bottom: 11px;
}
.blog-detail-right-title {
 margin-left: 25px;
 font-weight: 700;
}
.blog-detail-page .tag-cloud-item{
    border: 2px solid #d1d3d4;
    display: block;
    width: 158px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.blog-detail-page .tag-cloud-item a {
    font-size: 20px !important;
    font-weight: bold;
}
.blog-detail-page .tag-cloud-item:hover { 
  background-color: goldenrod;
 }
.blog-detail-page .tag-cloud-item a:hover { 
 color: #fff !important;
}
.blog-results-content-wrapper .field-blog-title{
    margin-top:15px;
}
.blog-search-results-row .field-blog-image img:hover{
	opacity: 0.3;
}
.blog-search-results-row .field-blog-image img{
height:167px;
}
.blog-detail-content ol li{
	 list-style-position: outside !important;
}	
.blog-detail-page a{
	margin-left:12px;
}
.blog-desc-image img{
	margin-left:15%;
}
.blog-detail-main .blog-detail-main-title{
	text-align:center;
}

.highlighted-bottom {
border: none !important;
}
.blog-detail-main .blog-detail-content{
	border:none;
}
.blog-detail-main .blog-detail-author-container{
	border:none;
	text-align: center;
}
.blogbanner h1{
	margin-top:40px !important;
}
.blog-detail-main div .field-publishedon{
float : right;
}
@media only screen and (max-width:767px){
.blog-search-results-row .col-10 .blog-results-content-wrapper a:hover{
text-decoration:underline !important;
}	
.at-share-dock-outer #at-share-dock {
    width: 65%;
    display: inline-grid;
}	
.component.tag-cloud.col-12.blog-detail-page.position-left {
    margin-left: 24px;
}	
	.blog-home-page .tag-cloud-item{
   margin-bottom:10px;
   display:inline-block;
   margin-left: 0px;
   padding:0px;
   padding-right: 5px;
   padding-left: 10px;
}
.blog-search-results-row{
    display:inline-block;
}
.tag-cloud-component {
     margin-left: 10px; 
     margin-top: 40px; 
}
.tag-cloud-component .tag-cloud-item a{
font-size:18px !important;
}
.search-result-list .blog-search-results-row .field-blog-image img{
     margin-left: 30px !important;
     width: 260px;
}
.blog-results-content-wrapper{
  margin-left:25px;
  width:100%;
  text-align:justify;
  margin-bottom: 20px;
}
.blog-home-page{
  margin-left: 17px; 
}
.blog-results-content-wrapper .field-blog-title a{
  font-size:20px !important;
}
.blog-search-results-row .span-blog-type{
    margin-left:100px;
}
.search-result-list li {
    border-top: none;
}
.blog-detail-main {
    max-width:95%;
}
.blog-detail-main p {
font-size: 18px !important;
}
.search-result-list li {
    border-bottom: 1px solid #696969;
}
.position-center .blogbanner div{
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 10%;
}
.blog-detail-content ul{
margin-left:0px !important;	
}
.blog-detail-content .entry-content span{
font-size:14px !important;
}
.blog-detail-main div .field-publishedon {
    float: none;
}
.search-results {
  margin-left: 20px;
  padding-right: 43px;
}

}
@media (min-width: 768px) and (max-width: 1200px){
.at-share-dock-outer #at-share-dock {
    width: 30%;
    display: inline-grid;
}	
.blog-search-results-row .blog-results-content-wrapper{
 margin-left: 100px;
 text-align:justify;
}
.blog-results-content-wrapper .field-blog-title {
  margin-top: 15px;
}
.blog-home-page .tag-cloud-item {
padding: 7px 3px 9px 8px;
}
.tag-cloud-component {
    margin-left: 12px;
}	
.search-result-list li {
 border-top: 1px solid black;
}
.blog-home-page .tag-cloud-item {
    border: 1px solid black;
}
.blog-home-page .tag-cloud-item a {
    font-size: 15px !important;
} 
.blog-search-results-row .span-blog-type{
	margin-left: 100px; 
}
.blog-image img {
    height: 170px;
}	
.blog-detail-main{
 max-width: 68.333333%;
}
.blog-desc-image img {
    margin-left: 0px;
}
.blog-detail-page {
	padding-left:0px !important;
	padding-right:0px !important;
}
.blog-detail-main .blog-detail-author-container{
	text-align:center;
	padding-left:0px;
}
.social-media-share{
	padding-right:0px !important;
	padding-left:3px 
}

}