/*
.col-4.icon-cont {
    max-width: 33.333333% !important;
}
*/

.connect-us-about .connect-main h1 {
    color: #ffffff;
    margin-left: 0px;
    font-weight: 700 !important;
    padding-top: 20px;
}

.back-image2 img {
    height: 800px;
    width: 600px;
}

.back-image1 img {
    height: 500px;
    width: 600px;
}

.header-content2 p {
    margin-top: 40px;
    margin-left: 70px;
}

.header-content1 p {
    padding-left: 30px;
}



.header-content2 h2 {
    text-align: center;
}

.our-mission-right ul li {
    padding-bottom: 15px;
}

.our-mission-left ul li {
    /* line-height: 28px
	font-family: 'Source Sans Pro';*/
    padding-bottom: 15px;
}

.our-mission-left ul {
    margin-top: 30px;
    margin-left: 80px;
    list-style: none;
}

.our-mission-right ul {
    margin-top: 30px;
    margin-right: 40px;
    list-style: none;
}

.our-mission-left ul li:before {
    list-style: none;
    content: '\e647';
    font-family: 'thegem-icons';
    font-weight: normal;
    content: '\e601';
    vertical-align: top;
    display: inline-block;
    width: 21px;
    text-indent: 0;
}

.our-mission-right ul li:before {
    list-style: none;
    content: '\e647';
    font-family: 'thegem-icons';
    font-weight: normal;
    content: '\e601';
    vertical-align: top;
    display: inline-block;
    width: 21px;
    text-indent: 0;
}

.home-6-col {
    background: #f1f1f1;
}

.enterpriseChild .col-lg-3 {
    margin-top: 20px;
    float: left;
    max-width: 35%;
    margin-left: 0px;
}

.enterprise-why .enterpriseChild {
    padding-top: 40px;
}

.enterpriseChild .col-lg-3 .field-description {
    padding-top: 5px;
}

/*.whyAie-header .field-title{
   
	font-weight: 200;
	
	}*/

.whyAie-header .field-description {
    font-family: Source Sans Pro;
}

/*.enterpriseChild .field-text{
font-family: 'Montserrat';
   
}*/





/* Invigorate*/

.
/*digital-cum-sub {
    display: inline-flex;
   /* margin-left: -43px;*/
}

/*.container .our-services-inner {
    max-width: 85%;
}

.component-content .digital-ex .field-promotext {

    line-height: 38px;
    margin-left: 0px;

}*/

/*.digital-cum-sub .field-promotext2 {
   /* margin-left: 198px;*/
/* text-align: justify;
    line-height: 28px;
    width: 100%;
    margin-top: -26px;*/

}

*/ .digital-cum-sub .col-2 img {
    max-width: 565px;
}

/*.digital-cum-sub .col-6 {
    max-width: 60%;
}
*/
.our-service-headline .position-center .text-center .title-h1 h2 {
    font-family: 'Montserrat';
    line-height: 53px;
    letter-spacing: 0.05em;
    text-transform: inherit !important;
    font-weight: 400;
}

.position-center .text-center .title-h1 h3 {
    letter-spacing: 0.05em;
    font-weight: normal;
    line-height: 38px;
    text-transform: uppercase
}

promo .digital-mar .field-promotext {
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: inherit !important;
    font-weight: 400;
}

/* What is AIE*/

.component.promo.col-12.image-default-size {
    margin: 0px;
    padding: 0px;
}

.component.promo.col-12.image-default-size {
    margin-bottom: 0%;
}

.component.image-default-size.col-12 {
    padding: 0px;
}

/*.col-lg-6 .back-image2 .field-promoicon img{
height: 639px;
    width: 99%;
	
}*/
.image-default-size .component-content .row {
    padding: 0px;
}

.component.promo.col-12.about-us-mission {
    padding: 0px;
}

.vc_row.wpb_row.vc_inner.vc_row-fluid {
    padding-bottom: 63px;
}




.container .image-default-size .component-content .col-sm-12 {
    padding: 0px;
}

.image-default-size .back-image1 {
    margin-top: 40px;
    margin-left: 0px;
}



.component.promo.col-12.about-us-mission {
    margin-top: -7px;
}


/* Our Core value*/

.core-values .col-lg-6 .col-lg-3 {
    float: left;
    max-width: 38%;
    padding-bottom: 0px;
    margin-bottom: 102px;
}

    .core-values .col-lg-6 .col-lg-3 .col-lg-2 {
        /*float: left;*/
        display: inline-flex;
        max-width: 45%;
        padding-left: 0px;
    }

.core-values .col-lg-6 .field-title {
    /*text-transform: inherit !important;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0.05em;*/
    margin-top: 157px;
    margin-left: 54px;
}

.core-values .col-lg-6 .col-lg-3 .col-lg-2 a {
    color: #5f727f;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: left;
}

.core-img span:nth-child(2) {
    display: none;
}

/* Connect With Us */








/*.ourservices-main p {
    text-align: justify;
}
*/

/* analytics-actionable-insights */

.component-content .aiengine-left {
    width: 50%;
    text-align: justify;
}

    .component-content .aiengine-left p {
        line-height: 26px;
        margin-top: 22px;
    }

.analytics-aiengine p {
    text-align: justify;
    padding-top: 0px;
    line-height: 28px !important;
}

.analytics-aiengine .corporate-image img {
    width: 45% !important;
    margin-top: 94px !important;
    margin-left: 34px !important;
}

.aiengine-left .header-content2 .field-promotext {
    text-transform: inherit !important;
    font-weight: 400;
}

/*operations-and-process-automations */
.component .cloud p {
    margin-top: 19px;
    text-align: justify;
}

.custom-native .field-promotext {
    text-transform: inherit !important;
    font-weight: 400;
    line-height: 38px;
    font-family: 'Montserrat';
}

.title-h1 .custom-native p {
    margin-left: -15px;
    text-align: justify;
}


.title-h1 .upgrades {
    margin-bottom: 150px;
    margin-left: -13px;
    text-align: justify;
}

.title-h1 .support-migration {
    margin-left: -13px;
    text-align: justify;
}

.title-h1 .optimization {
    margin-left: -13px;
    text-align: justify;
}

.commerce .field-promotext2 {
    width: 75%;
    text-align: justify
}

/*  .commerce-image .back-image2 .field-promoicon img{

    width: 59% !important;
    margin-left: -214px !important;
    margin-top: 0px !important;

  }*/

/*consulting*/

.component-content .cosnslult-3-com .field-promoicon img {
    width: 50%;
    margin-left: 60px !important;
}

.component-content .cosnslult-3-com .field-promotext2 p {
    text-align: justify;
}

.strategy-content p {
    text-align: justify;
}

/*.us-map-title{

	margin-top: 13.4% !important;
}*/
/*form h4.widget-title 
{
margin-top:120px !important;
	
}*/
/*.component-content .field-content .banner-header{

margin-top:46px;	
}*/
.strategy-content .back-image2 p {
    line-height: 28px;
    margin-top: 24px;
}

.cosnslult-3-com p {
    line-height: 28px;
    padding-bottom: 30px;
}

.google-adwords p {
    line-height: 28px;
    text-align: justify;
}

.google-adwords {
    margin-bottom: 140px;
}

.title-h1 .custom-native h2 {
    margin-left: -17px
}

.corporate-text-left .header-content2 p {
    width: 65%;
    text-align: justify
}


/*.digital-cum-sub1 {

    margin-left: -28px;
}
*/
/*.component-content .digital-mar {
    margin-left: -36px;

}*/

/*.component-content .digital-ex {
    margin-left: -28px;
}*/


@media only screen and (min-width:1024px) {
    .corporate-text-left .header-content2 p {
        width: 100%;
        text-align: justify;
        padding-right: 10px;
    }
}


/**************************mobile******************/
@media only screen and (max-width:767px) {

    .back-image2 img {
        width: 402px;
    }

    /*  .digital-ex-content p
{
       
        width:70% !important;
        margin-left:-25px !important;
}*/
    .about-us-mission .vc_row.wpb_row.vc_inner.vc_row-fluid {
        margin-top: 14px;
        display: inherit;
        width: 73%;
        margin-left: 49px;
    }

    .header-content1 h2 {
        padding-right: 140px;
    }

    .header-content1 p {
        /*  margin-left: -18px;*/
        width: 100%;
    }

    .about-us-mission .header-content2 .field-promotext2 {
        width: 75%;
    }


    .enterpriseChild .field-description {
        text-align: center;
        font-size: 18px !important;
    }

    .enterpriseChild .field-text {
        padding-top: 50px;
    }



    .enterprise-why .col-lg-6:nth-child(2) {
        display: none;
    }

    .enterpriseChild .field-text {
        text-align: center;
    }



    .back-image2 img {
        width: 402px;
    }

    .header-content2 p {
        margin-left: 20px;
    }

    /*.header-content1 p{
  margin-left: -18px;
    width: 405px;
	
 }*/

    .our-mission-left ul {
        margin-left: -18px;
    }

    .our-mission-right ul {
        margin-left: -18px;
        margin-top: 0px;
    }

    .field-content {
        margin-top: 70px;
    }

    .position-center .field-content p {
        font-family: Montserrat UltraLight;
        font-weight: 300 !important;
    }

    .image-default-size .back-image1 .field-promoicon img {
        height: 500px;
    }

    .ourservices-right-text p {
        width: 90%;
    }

    .our-services-mission .title-h1 .field-text p {
        width: 92%;
    }

    .our-services-mission .title-h1 .field-text ul {
        width: 80%;
        text-align: justify;
        margin-left: -5px;
    }

    .our-services-mission .file-type-icon-media-link img {
        margin-left: -30px !important;
    }

    .our-service-headline .component-content .field-text h2 {
        /*font-size: 11px !important;*/
        /*line-height:20px;*/
        width: 76%;
        margin-left: 30px
    }

    .our-service-headline .component-content .field-text h3 {
        font-size: 24px !important;
        width: 76%;
        margin-left: 31px;
        margin-top: 20px;
    }

    .carrier .left-carrier-cont .field-technology-logo img {
        width: 50%;
        margin-right: 23px !important;
        margin-top: 20px !important;
    }

    .carrier-content .field-title {
        color: #747474 !important;
        font-size: 18px !important;
    }


    .carrier-content .field-job-description .carrer-cont ol li {
        font-size: 16px;
        text-align: justify;
        margin-left: -6px;
    }

    .carrier-popup-overlay .sitecore-form .ult_modal-content .ult_modal-header .career-field-title {
        font-size: 16px !important;
        text-align: left;
        margin-left: 15px;
        color: #333333;
        text-transform: uppercase
    }

    .carrier-popup-overlay .sitecore-form .ult_modal-content {
        border-bottom: 1px solid #333333;
        width: 100%;
        margin-left: 0px !important;
    }

    .carrier-popup-overlay > div {
        width: 90% !important;
        margin-left: 0% !important;
    }

    .carrier-popup-overlay .sitecore-form .wpcf7 input {
        width: 292px !important;
    }

    .corporate-image .field-promoicon img {
        width: 95% !important;
        position: relative;
        margin-top: 80px !important;
        margin-left: 0px !important;
    }

    .corporate-text-left .field-promotext3 .ul1 {
        width: 100%;
        text-align: justify;
        /*margin-left:30px;*/
    }

    .corporate-text-left .header-content2 p {
        /*width: 133%;*/
        width: 100%;
        text-align: justify;
    }

    .corporate-text-left .header-content2 {
        margin-left: 10px;
    }

    .corporate-back-color .col-lg-8.col-xs-12.corporate-one-column {
        float: none;
        width: 100%;
    }

    /* .col-lg-12.corporate-two-column {
        margin-left: 38px;
        padding-right: 8px;
        padding-left: 15px;
    }*/

    .corporate-back-color .field-text .corporate-second-column {
        width: 100%;
        /* margin-left: -63px;*/
        text-align: justify;
    }

        .corporate-back-color .field-text .corporate-second-column ul {
            margin-left: 0px;
        }

            .corporate-back-color .field-text .corporate-second-column ul li {
                margin-left: 0px;
            }

    .partner-image .back-image1 .field-promoicon {
        width: 100%;
    }

    .partner-image {
        margin-left: 0px;
    }

        .partner-image .back-image1 .field-promoicon img {
            height: 500px;
        }

        .partner-image .back-image1 .field-promoicon {
            width: 100% !important;
            margin-left: 0px;
            margin-top: 30px;
        }

    .promo .partner-image .field-promoicon img {
        height: 500px;
    }

    /*.partner-content .header-content1 .field-promotext2{

margin-left:-15px !important;	
text-align:center;
}*/
    .partner-content .header-content1 h2 {
        /*width:130%;*/
        text-align: center;
        /*font-size:12.96px !important;*/
        line-height: 20px;
        margin-left: 15px;
        /*margin-top: 60px;*/
    }

    .leading .partner-heading {
        /*font-size:12.96px !important;
	color: #3c3950;
	margin-top:60px;*/
    }

    /*.six-col-content .field-title{

	font-size:20px !important;
	
}*/
    .component-content .leading .partner-para {
        padding-right: 0px;
    }

    .partner .partner__img img {
        /* margin-left:20px !important;
  margin-top:40px !important;*/
    }

    .partner .partner__body {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .partner__img.field-promoicon {
        text-align: center;
    }



    .connect-content-about {
        padding-left: 0px;
        padding-right: 0px;
    }

    .our-core-sub .col-lg-2 {
        max-width: 90% !important;
    }

    .connect-content-about .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .col-8.ContactUs-map {
        /* flex: 0 0 67.666667%;
    max-width: 100.666667%;*/
        flex: 0 0 70.2%;
        max-width: 100%;
    }

    /* .sitecore-form .component-content .validate .widget h4 {

        width: 300% !important;
    }
*/
    .col-contact-4 .sitecore-form {
        margin-left: 0px;
    }

    .contactus .contactus-right .contacts-address ul {
        text-align: justify;
        margin-left: 16%;
    }

    .contactus .icon-cont {
        margin-left: 60px;
        margin-bottom: 0px;
    }

    .contactus .contact-icon ul {
        text-align: center;
    }

    .contactus .gem-contacts-item.gem-contacts-email p:before {
        display: flex;
        margin-left: 90px;
        padding-bottom: 11px;
    }

    .contactus .gem-contacts-item.gem-contacts-website p:before {
        display: flex;
        margin-left: 90px;
        padding-bottom: 11px;
    }

    .contactus .gem-contacts-item.gem-contacts-phone p:before {
        display: flex;
        margin-left: 90px;
        padding-bottom: 11px;
    }

    .contactus .contact-icon ul li {
        padding-bottom: 50px;
    }

    .contactus .contact-icon {
        top: -92px;
    }

    .contactus .icon-cont {
        top: -90px;
    }

    .ContactUs-map .row {
        margin-left: -24px !important;
        margin-right: -18px !important;
    }

    .contact-us .col-contact-4 {
        margin-left: 20px;
    }

    .ContactUs-map {
        margin-top: 67px;
        */
    }

        .ContactUs-map p {
            color: #3c3950;
        }

        .ContactUs-map .us-map-title {
            color: #3c3950;
        }

    .sitecore-form .wpcf7 .form-sidebar textarea {
        width: 304px;
    }

    .sitecore-form .wpcf7 .form-sidebar input.btn.btn-red {
        width: 330px;
    }

    .about-main-page .partner-content .header-content1 p {
        text-align: justify;
        max-width: 80%;
    }

    .about-us-mission .gem-list-type-checkbox ul li {
        font-size: 18px;
    }

    .connect-us-about .connect-content-about {
        background: #F0F0F0;
    }

        .connect-us-about .connect-content-about .connect-main-4 {
            background: #ffffff;
            margin-bottom: 90px;
        }

            .connect-us-about .connect-content-about .connect-main-4 .col-4 .connectUs-item-text {
                margin-left: -10px !important
            }
}

/*********************tablet*****************************/
@media (min-width: 768px) and (max-width: 1024px) {
    .contact-us.iframe.contact-us iframe {
        margin-left: 4px;
        width: 75%;
    }

    p.partner-para.field-description {
        margin-bottom: 18px !important;
        margin-top: 0px !important;
    }

    .col-contact-4 .sitecore-form {
        margin-left: -99px;
    }

    .col-contact-4 {
        margin-left: 0% !important;
    }

    .carrier-popup-overlay .sitecore-form .ult_modal-content {
        border-bottom: 1px solid #333333;
        width: 122%;
        margin-left: -37px !important;
    }

    .carrier-popup-overlay .sitecore-form .wpcf7 input {
        width: 349px !important;
    }

    .partner-image .back-image1 .field-promoicon {
        width: 100% !important;
        margin-left: 0px;
        margin-top: 30px;
    }

    .partner-content .header-content1 h2 {
        width: 90%;
        /* font-size:27.36px !important;*/
        margin-left: 30px;
        /*margin-top:60px;*/
    }

    .leading .partner-heading {
        /*font-size:27.34px !important;
 	margin-top:55px;*/
    }

    .partner-content .header-content1 .header-content1 {
        text-align: center;
    }

    .component-content .partner {
        margin-top: 40px;
        padding-bottom: 30px;
    }

    /* .component-content .contactus {
        display: flex;

    }*/

    .component.rich-text.col-12.col-md-8.contact-us-address {
        flex: 1 0 66.666667%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .ContactUs-map p {
        color: #3c3950;
        margin-left: 20px !important;
    }

    .contact-us.iframe.contact-us iframe {
        margin-left: 20px;
        width: 90%;
    }

    .ContactUs-map .us-map-title {
        color: #3c3950;
        margin-left: 4px !important;
    }

    /*form h4.widget-title {
    margin-top: 66px !important;
}*/
    /*.contactus .gem-contacts-item.gem-contacts-email:before {
    display:flex;
	margin-left:90px;	
	padding-bottom: 11px;
}
.contactus .gem-contacts-item.gem-contacts-website:before{
	display:flex;
	margin-left:90px;
	padding-bottom: 11px;
}*/
    /*.contactus .gem-contacts-item.gem-contacts-phone:before, .contactus .gem-contacts-item.gem-contacts-email:before, .contactus .gem-contacts-item.gem-contacts-website:before{
	display:inline-flex;
	margin-left:0px;
	padding-bottom: 11px;
}*/
    /*.contactus .icon-cont{

	margin-top: -19px; 
}*/
    .sitecore-form .wpb_content_element {
        width: 104%;
    }
}
