/* header start here */
.sticky {
    box-shadow: -1px 6px 8px #888888;
}

#myHeader.sticky nav {
    padding-top: 4%;
}

#myHeader nav {
    padding-top: 5%;
}

#header .corpo .nav-column.service-nav-margin {
    margin-left: 23% !important;
}

.component.content.nav-list.col-12 {
    overflow: inherit;
}

#header .site-nav li:hover .site-dropdown,
#header .site-nav li a:focus .site-dropdown {
    opacity: 1;
    overflow: visible;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: -1;
}

#header .site-nav > li.primary-link {
    list-style: none;
}

#header .site-nav li:hover a {
    color: #00bcd4;
}

#myHeader .link-list > .component-content ul li a {
    line-height: 1.2;
    color: #5f727f;
    transition: color .2s ease;
    display: inline;
    font-size: 16px;
}

#myHeader .link-list > .component-content ul li a:hover {
    text-decoration: none;
    border-bottom: none;
    color: #3D3935;
}

.nav-column .link-list h3 {
    border-bottom: none;
}

#myHeader .site-nav-wrapper > .outer-container ul li:first-child .site-dropdown .component.link-list ul li:first-child a {
    color: #3D3935;
    font-weight: 700;
    line-height: 3;
}

#myHeader .nav-column .component.link-list .component-content {
    padding-top: 0;
}

header .container-fluid .nav-list {
    padding: 0;
}

.site-nav-wrapper .outer-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    /*    padding: 0 60px;*/

}

li.company.primary-link.has-dropdown {
    margin-left: 0;
}

.site-nav-wrapper {
    padding-top: 15px;
}

#header .component.image.file-type-icon-media-link.col-12 a {
    margin-top: 10px;
}

#header .component.plain-html.col-12 .site-header__nav {
    margin-top: 24px;
    margin-right: 84px;
}

ul.site-nav li.company.primary-link.has-dropdown .component.link a {
    padding-left: 26px;
}

ul.site-nav li.company.primary-link.has-dropdown:first-child .component.link a {
    padding-left: 15px;
}

#header .primary-link .component.link .field-link a {
    padding-left: 40px;
}

.site-nav,
.site-nav a,
.site-nav form,
.site-nav li,
.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
}


/* Top Nav section start here  */

.site-header {
    position: relative;
    background-color: #fff;
    padding: 0;
    font-weight: bold;
    z-index: 5;
    border-bottom: 1px solid #EEEEEE;
}

.site-header .outer-container,
.site-header .rc-next-group,
.site-header .rc-next-prev-group,
.site-header .rc-tag-group {
    position: relative;
    height: 60px;
}

.site-header .logo {
    display: inline-block;
    line-height: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.site-header .logo img {
    width: 165px;
    border: none;
}

.site-header__nav {
    float: right;
}

.icon-arrow--lt:before {
    content: "\e900";
}

.icon-arrow--rt:before {
    content: "\e901";
}

.site-nav,
.site-nav a,
.site-nav form,
.site-nav li,
.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
}


/* Top Nav sec end here */

.site-header {
    position: relative;
    background-color: #fff;
    padding: 0;
    font-weight: bold;
    z-index: 5;
    border-bottom: 1px solid #EEEEEE;
}

.site-header .outer-container,
.site-header .rc-next-group,
.site-header .rc-next-prev-group,
.site-header .rc-tag-group {
    position: relative;
    height: 60px;
}

.site-header .logo {
    display: inline-block;
    line-height: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.site-header .logo img {
    width: 165px;
    border: none;
}

.site-header__nav {
    float: right;
}

.show-stock {
    opacity: 1 !important;
}

.site-nav a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    display: block;
}

.site-nav .primary-link > a {
    position: relative;
    display: block;
    padding: .75rem 1.7rem .75rem 1rem;
    font-weight: bold;
    border-bottom: 2px solid #117FD7;
}

.site-nav h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

.site-nav .expand-arrow {
    display: block;
    float: right;
    width: 25%;
    margin-top: -.75rem;
    margin-right: 2.5rem;
    text-align: right;
}

.site-nav .expand-arrow span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
}

.site-nav .expand-arrow span:before,
.site-nav .expand-arrow span:after {
    position: absolute;
    content: "";
    width: 3px;
    border-radius: 3px;
    height: 14px;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: transform, background-color;
    transition-property: transform, background-color, -webkit-transform;
    background-color: #99a9b5;
}

.site-nav .expand-arrow span:before {
    -webkit-transform: translate(4px, 0) rotate(45deg);
    -ms-transform: translate(4px, 0) rotate(45deg);
    transform: translate(4px, 0) rotate(45deg);
}

.site-nav .expand-arrow span:after {
    -webkit-transform: translate(-4px, 0) rotate(-45deg);
    -ms-transform: translate(-4px, 0) rotate(-45deg);
    transform: translate(-4px, 0) rotate(-45deg);
}

.site-nav .expand-arrow.active span:before {
    -webkit-transform: translate(-4px, 0) rotate(45deg);
    -ms-transform: translate(-4px, 0) rotate(45deg);
    transform: translate(-4px, 0) rotate(45deg);
}

.site-nav .expand-arrow.active span:after {
    -webkit-transform: translate(4px, 0) rotate(-45deg);
    -ms-transform: translate(4px, 0) rotate(-45deg);
    transform: translate(4px, 0) rotate(-45deg);
}

.site-dropdown {
    padding: 1rem 1rem 1.25rem 1.75rem;
    border-bottom: 2px solid #00bcd4;
    display: none;
    z-index: 5;
}

.site-nav li:hover > .site-dropdown,
.site-nav li > a:focus > .site-dropdown {
    opacity: 1;
    overflow: visible;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: -1;
}

.primary-link a.active {
    color: #9EE7F0;
}

.nav-column a.active {
    color: #9EE7F0;
}

#menu-icon {
    display: inline-block;
    margin-top: 19px;
    margin-left: -2px;
    width: 25px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 25px;
    background: #99a9b5;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

#menu-icon span:nth-child(1) {
    top: 0px;
}

#menu-icon span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#menu-icon span:nth-child(3) {
    top: 9px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#menu-icon span:nth-child(4) {
    top: 18px;
}

#nav-trigger.animate span:nth-child(1) {
    opacity: 0;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}

#nav-trigger.animate span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-trigger.animate span:nth-child(4) {
    opacity: 0;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
}

#nav-trigger.animate span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.tab-nav {
    margin-bottom: 3rem;
    font-weight: bold;
    list-style-type: none;
    white-space: nowrap;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.tab-nav:after {
    content: "";
    width: 100%;
    display: block;
    margin-top: -3px;
    border-bottom: 3px solid #EEEEEE;
}

.tab-nav a {
    display: inline-block;
    padding: 0 .65rem 1rem .65rem;
    border-bottom: 3px solid transparent;
    position: relative;
    border-bottom: 3px solid #EEEEEE;
    margin-left: -5px;
}

.tab-nav a:hover,
.tab-nav a.link--active {
    border-bottom: 3px solid #3D3935;
}

.link-hover-button {
    margin-bottom: 1rem;
}

.link-hover-button__a {
    display: block;
    width: 100%;
    padding: .75rem;
    padding-left: 70px;
    border: 2px solid transparent;
    border-radius: 10px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transition-property: color, border;
    transition-property: color, border;
}

.link-hover-button__a:hover {
    border-color: #3D3935;
}

.link-hover-button__img {
    position: absolute;
    margin-top: 1.4375rem;
    margin-left: 1.3125rem;
    z-index: -1;
}

.link-hover-button__span {
    color: #A7A8AA;
}

.section-nav {
    font-weight: 500;
}

.section-nav__li--primary {
    font-size: 1.125rem;
    padding-bottom: .5rem;
}

.section-nav__ul--secondary {
    font-size: 0.875rem;
    margin: .5rem 0 .5rem .25rem;
    padding-left: 1rem;
    border-left: 3px solid #EEEEEE;
}

.section-nav__li--secondary,
.section-nav__li--tertiary {
    padding: 0 0 .25rem 0;
}

.section-nav__li--secondary:last-of-type,
.section-nav__li--tertiary:last-of-type {
    padding: 0;
}

.section-nav__ul--tertiary {
    font-size: 0.875rem;
    margin: .5rem 0 .5rem .25rem;
    padding-left: .5rem;
}

.float-left + .float-left + * {
    clear: both;
}


/**** Investor menu stert here***/

.nav-column-left {
    margin-left: 408.109px;
}

#header.container {
    max-width: 100% !important
}

#header.container .col-12:nth-child(1) .row {
    margin: 0px;
    width: 1200px;
    margin: 0 auto !important;
}

#header.container .col-12:nth-child(2) .row {
    margin: 0px;
    width: 1200px;
    margin: 0 auto !important;
}

#header.container:nth-child(1) .row {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}


#header.container .col-12:nth-child(1) .row .col-md-6:nth-child(2) {
    float: right;
    padding-right: 0px;
}

.headertop-content {
    border-top: 5px solid #00bcd4;
    border-bottom: 1px solid #dfe5e8;
    background-color: #f4f6f7;
}

#myHeader .row {
    width: 1200px;
    margin: 0 auto;
}




#header li:nth-child(3) .service-nav-margin {
    margin-left: 28% !important;
}

#header .corpo .nav-column.service-nav-margin {
    margin-left: 32% !important;
}

/* Header section end here*/
/* media query Start here */
/* ***********************************   */
/* small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
    #myHeader.sticky nav {
        padding-top: 0%;
    }

    #myHeader nav {
        padding-top: 0%;
    }

    #myHeader .plain-html.col-1 {
        position: absolute;
        left: 90%;
        margin-top: 8.2%;
    }

    #myHeader.header.sticky .plain-html.col-1 {
        position: absolute;
        left: 91%;
        margin-top: 8px;
    }

    #header img {
        width: 87px;
        padding-top: 15px;
    }

    .header .field-image a {
        width: 61px;
        max-width: 241px;
        display: inline-block;
        margin-left: -5px;
    }

    #header .sticky img {
        width: 100%;
        padding-top: 16px;
        margin-left: 0px;
    }

    .header.sticky .col-2 {
        width: 380px;
        max-width: 100%;
    }

    .header.sticky {
        box-shadow: -1px 6px 8px #888888;
        margin-left: 0%;
    }

    nav.site-nav-wrapper.show-menu {
        width: 361px;
        margin-left: -15px;
        padding-left: 10px;
    }

    .show-menu {
        visibility: visible;
        opacity: 0.9 !important;
    }

    #header .primary-link .component.link .field-link a {
        padding-left: 0px;
        font-weight: bold;
        line-height: 30px;
    }

    #header .primary-link .component.content .field-link a {
        padding-left: 0px !important;
        font-size: 16px;
        font-weight: bold;
    }

    #header .corpo .nav-column.service-nav-margin {
        margin-left: -8% !important;
    }

    #header li:nth-child(3) .service-nav-margin {
        margin-left: -8% !important;
    }

    #myHeader .field-image a img {
        width: auto;
        height: auto;
        margin-top: 2px;
        margin-left: 2px !important;
        padding-top: 10px;
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #myHeader.sticky nav {
        padding-top: 0%;
    }

    #myHeader nav {
        padding-top: 0%;
    }

    #myHeader .plain-html.col-1 {
        position: absolute;
        left: 90%;
        margin-top: 5.2%;
    }

    #header.container .col-12:nth-child(1) .row .col-md-6:first-child {
        padding-left: 2%;
    }

    #myHeader.header.sticky .plain-html.col-1 {
        position: absolute;
        left: 91%;
        margin-top: 14px;
    }

    #header img {
        width: 87px;
        padding-top: 15px;
        margin: 0px 0px 0px 25px !important;
    }

    #myHeader .outer-container .site-nav {
        margin-left: 0%;
        margin-top: 0%;
    }

    #header nav {
        padding: 0% 0 0% 0;
    }

    .header .field-image a {
        width: 61px;
        max-width: 241px;
        display: inline-block;
        margin-left: -19px;
    }

    #header .sticky img {
        width: 100%;
        padding-top: 16px;
        margin-left: 25px;
    }

    .header.sticky .col-2 {
        width: 380px;
        max-width: 100%;
    }

    .header.sticky {
        box-shadow: -1px 6px 8px #888888;
    }

    #header .primary-link .component.link .field-link a {
        padding-left: 27px;
        line-height: 39px;
    }

    #header .primary-link .component.content .field-link a {
        padding-left: 27px !important;
        font-size: 16px;
    }

    .site-nav .primary-link a {
        padding: .75rem 1.7rem .75rem 1rem;
        font-weight: bold;
    }

    nav.site-nav-wrapper.show-menu {
        width: 775px;
        margin-left: -22px;
    }

    #header .corpo .nav-column.service-nav-margin {
        margin-left: -4% !important;
    }

    #header li:nth-child(3) .service-nav-margin {
        margin-left: -4% !important;
    }

    .show-menu {
        visibility: visible;
        opacity: 0.9 !important;
    }

    .site-nav .expand-arrow {
        margin-right: 3.5rem;
    }
}


/*
@media screen and (min-width: 1100px) {
	.width-75 {
		width: 75%;
	}
}

@media screen and (min-width: 800px) {
	.width-75 {
		width: 50%;
	}
	.width-50 {
		width: 50%;
	}
	.float-right {
		float: right;
		padding-left: 2rem;
	}
	.float-left {
		float: left;
	}
}

@media screen and (min-width: 600px) {
	.tab-nav:after {
		padding-right: 0;
	}
}

@media (min-width: 1024px) and (min-width: 1100px) {
	.no-matchmedia .primary-link.services .nav-column,
	.no-js .primary-link.services .nav-column {
		margin-left: 280px !important;
	}
	.no-matchmedia .primary-link.careers .nav-column,
	.no-js .primary-link.careers .nav-column {
		margin-left: 280px !important;
	}
	.no-matchmedia .primary-link.investors .nav-column:first-of-type,
	.no-js .primary-link.investors .nav-column:first-of-type {
		margin-left: 408px !important;
	}
}
*/
@media only screen and (max-width: 1024px) {
    #myHeader .field-image a img {
        width: auto;
        height: auto;
        margin-top: 2px;
        margin-left: 18px;
    }

    .site-nav-wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #f4f6f7;
        opacity: 0;
        z-index: 4;
        line-height: 0;
    }

    .menu-open {

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .no-js .site-nav-wrapper {
        display: block;
        visibility: visible;
        opacity: 1;
        position: relative;
        top: 0;
        padding-top: 0;
        width: 100%;
        background-color: #fff;
    }

    .no-js .site-nav-wrapper .site-nav {
        display: block;
        white-space: nowrap;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: 1rem;
        border-bottom: 1px solid #EEEEEE;
    }

    .no-js li {
        display: inline-block;
        padding: 0;
        margin: 0;
        line-height: 1;
    }

    .no-js #site-search__input:focus {
        width: calc(100vw - 32px);
    }

    .no-js .site-nav .primary-link > a {
        color: rgba(61, 57, 53, 0.85);
        border-bottom: none;
        display: inline;
        text-align: center;
        padding: 0 1rem 0 0;
        margin: 0;
        font-weight: normal;
    }

    .no-js .site-nav-wrapper a .expand-arrow {
        display: none;
    }

    .no-js .site-dropdown {
        display: none;
    }

    .no-js #nav-trigger {
        display: none;
    }

    .site-header .outer-container,
    .site-header .rc-next-group,
    .site-header .rc-next-prev-group,
    .site-header .rc-tag-group {
        height: 80px;
    }

    .site-header {
        border-bottom: none;
    }

    .site-header__nav {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .site-header .logo img {
        width: 185px;
    }

    .site-header {
        border-bottom: none;
    }

    .site-header .outer-container,
    .site-header .rc-next-group,
    .site-header .rc-next-prev-group,
    .site-header .rc-tag-group {
        height: 80px;
    }

    .site-header .logo img {
        width: 185px;
    }

    .site-header__nav {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .site-nav a {
        color: #0072CE;
        font-weight: inherit;
        line-height: 1.5;
        -webkit-transition: color .2s ease;
        transition: color .2s ease;
        display: inline;
    }

    .site-nav a:hover {
        color: #3D3935;
    }

    .site-nav .nav-column li {
        line-height: 1;
        margin-top: .5rem;
    }

    .nav-column ul a {
        line-height: 1.2;
    }

    .site-nav-wrapper .outer-container,
    .site-nav-wrapper .rc-next-group,
    .site-nav-wrapper .rc-next-prev-group,
    .site-nav-wrapper .rc-tag-group {
        padding: 0;
    }

    .nav-column a {
        line-height: 2;
    }

    .site-nav .tertiary-links {
        display: none;
    }

    .show-sub-menu {
        display: block;
        opacity: 1;
        height: 100%;
    }
}



@media (min-width: 1024px) {
    .site-nav .expand-arrow {
        display: none !important;
    }

    #header .sticky img {
        padding-top: 22px;
    }

    .no-matchmedia .primary-link.investors .nav-column:first-of-type,
    .no-js .primary-link.investors .nav-column:first-of-type {
        margin-left: 45% !important;
    }

    .no-matchmedia .primary-link.careers .nav-column,
    .no-js .primary-link.careers .nav-column {
        margin-left: 278px !important;
    }

    #nav-trigger {
        display: none;
    }

    .site-nav {
        width: 100%;
        background-color: #fff;
        cursor: default;
        display: inline-block;
        z-index: 10;
        padding: 0;
        margin-left: 10% !important;
    }

    .site-nav-wrapper {
        position: relative;
        height: auto;
        width: 100%;
        overflow: inherit;
        opacity: 1;
        visibility: visible;
        padding-top: 0;
        background-color: #fff;
        display: block;
        box-shadow: none;
    }

    .site-nav .primary-link:first-of-type > a {
        margin-left: -1rem;
    }

    .site-nav .primary-link:last-of-type > a {
        padding-right: 1rem;
    }

    .site-nav .primary-link > a {
        color: rgba(61, 57, 53, 0.85);
        font-weight: normal;
        padding: 1.125rem 3.125rem 1.125rem 1rem;
        -webkit-transition: color .2s ease;
        transition: color .2s ease;
        border-bottom: none;
        font-size: 16px;
    }

    .site-nav h3 {
        font-weight: bold;
        line-height: 18px;
        margin: 0 0 .75rem 0;
    }

    .site-nav h3 a {
        color: #3D3935;
    }

    .site-nav h3 a:hover {
        color: #0072CE;
    }

    .primary-link a.active {
        color: #0072CE;
    }

    .primary-link {
        float: left;
    }

    .site-dropdown {
        background: #fff;
        position: absolute;
        left: 0;
        -webkit-transition: all .3s ease-in-out .17s;
        transition: all .3s ease-in-out .17s;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        min-height: 162px;
        padding: 10px 0 44px 0;
        display: block;
        border-bottom: none;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.03), 0 12px 12px rgba(0, 0, 0, 0.02);
        -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        transform: translateY(-25px);
        z-index: -2;
    }

    .nav-column a.active {
        color: #3D3935;
    }

    .no-matchmedia .primary-link.services .nav-column,
    .no-js .primary-link.services .nav-column {
        margin-left: 278px !important;
    }

    .site-nav .primary-link > a:focus,
    .site-nav > li:hover > a {
        color: #0072CE;
    }

    .nav-column {
        float: left;
        padding-right: 8%;
        margin: 0;
    }

    .nav-column:last-of-type {
        padding-right: 0;
    }
}

/*
@media screen and (min-width: 600px) {
	.site-nav .primary-link>a {
		padding-left: 2rem;
	}
}

@media (min-width: 900px) {
	.site-nav .primary-link>a {
		font-size: 18px;
	}
}
*/
/* media query end here */
