 /********************mobile*******************/

 @media only screen and (max-width: 767px) {
     .contact-us-banner .boxed position-left .field-content {
         margin-top: 0px;
     }

     .contact-us-banner .banner-header {
         width: 500px;
     }

     .operations-and-process-automations .analytics-actionable -main .component-content {
         background-position: 27% 10px !important;
     }

     .operations-and-process-automations .component-content {
         background-position: 29% 0px !important;
     }
  .PremiumBusinessconsulting .component-content
        {
            background-position: 4%;
        }
     .careers-banner .component-content {
         /* border: solid red 2px; */
         background-position: 85% !important;
     }

     .operations-and-process-automations .corporate-text-left {
         width: 80% !important;
         margin-left: 35px;
     }

     .corporate-text-left {
         width: 80% !important;
         margin-left: 35px;
     }

     .PremiumBusinessconsulting {
         background-position: 20%;
     }

     .optimization {
         width: 92%;
         padding-left: 8%;
     }

     .operations-and-process-automations .corporate-text-left {
         padding-left: 0px;
     }

     .upgrades {
         width: 95%;
         padding-left: 8%;
     }

     .home-what-line {

         width: 62%;
         top: -27px;
         left: 55px;
     }

     .support-migration {
         width: 87% !important;
         margin-left: 6% !important;
     }

     .corporate-text-left {
         width: 90% !important;
         float: left;
         margin-left: 0px;

     }

     .carrier-popup-overlay .col-contact-4 {
         padding-top: 64px;

     }

     .contact-captcha {
         transform: scale(0.77);
         -webkit-transform: scale(1.00);
         transform-origin: 0 0;
         -webkit-transform-origin: 0 0;
     }

     .ContactUs-map {
         order: 2;

     }

     .career-field-jobapplied {
         width: 228px !important;

     }

     .col-contact-4 {
         order: 1;
         margin-bottom: 50px;
     }

     .sticky #nav-trigger {

         left: 191px
     }

     h1 {
         font-size: 28px !important;
     }

     h2 {
         font-size: 18px !important;
         text-align: center;
     }

     h2 {
         font-size: 24px !important;

     }

     #header .sticky img {


         max-width: 100%;
         height: auto;
     }

     .carousel .field-slidelink .carousel-btn.btn {
         margin: 0px;
         padding: :0px;
         font-size: 12px !important;
         padding: 3px 15px !important;
     }

     .carousel .field-slidelink {

         margin-left: 30px;

         min-width: 100px;

         max-width: 114px;

         margin-top: 20px;
         height: 30px;


     }

     .six-col-content .field-title {
         margin-right: 10px;
         font-size: 40px;
     }

     .wpcf7 .form-sidebar input {
         width: 100%;
     }

     .digital-ex {
         margin-left: 0px !important;
     }

     .opeartion-procees-conent {
         width: 86%;
         margin-left: 9%;
     }


     .partner-content .header-content1 h2 {
         margin-top: 10px;
         padding-right: 0px;
         line-height: 30px;
     }



     .partner-content .header-content1 h2 {
         max-width: 90%;
         text-align: center;
         margin-top: 0px
     }

     #nav-trigger {

         left: 279px;

     }

     #header .sticky img {
         width: 100%;
         padding-top: 16px;
     }

     .header.sticky .col-2 {
         width: 380px;
         max-width: 100%;
         flex: 0 0 30% !important;
     }

     .equalized-content .field-content {
         margin-top: 0px;
     }


     .content h1,
     .content h2,
     .rich-text h1,
     .rich-text h2 {
         margin: 0px 0;
     }


     ol.corporate-ol span:first-child {
         width: 85px !important;
     }

     .corporate-text-left {
         width: 100%;
         float: left;
         padding-left: 22px;

     }

     .corporate-text-left .header-content2 p {

         padding-right: 0px !important;
     }

     .corporate-text-left .header-content2 p {
         width: 100%;
         text-align: justify;
     }

     .digital-ourservice-4 .Right-section li absolute {
         margin-left: 35px;
         display: block;
     }


     .enterpriseChild .col-lg-3 {

         max-width: 100%;

     }

     .carousel .nav-items {
         display: none;
     }

     .connect-us-about .fullwidth-block-background img {
         height: 160px;
     }



     .connect-us-about .connect-main h1 {
         color: #ffffff;
         margin-left: 32px;
     }

     .connect-content-about {
         position: absolute;
         top: 39%;
         background: #fff;
         width: 100%;
         margin-left: 62px;


     }

     .connect-main-4:first-child {
         margin-top: 12%;
     }

     .connect-main-4 {
         width: 100% !important;
         margin-bottom: 12%;
         margin-top: 2%;
     }

     .circleBase {
         position: absolute;
         top: -23px;
         margin-left: 42% !important;
     }

     .connect-content-about {
         position: relative;
         margin-left: 0px;

     }

     .connect-main .container-connect {
         height: 100%;
     }

     .circleBase {
         position: relative;

     }

     .connect-main-4 .col-4 {
         text-align: center;
         margin-top: 3%;
         padding-left: 40px;
     }

     .about-us-core .component-content:first-child {
         background-position: -349px 0px;
     }

     .our-core-sub .col-lg-3 {

         max-width: 100% !important;

     }

     .our-core-sub {
         max-width: 100% !important;
         margin-left: 0px;

     }

     .core-values .col-lg-6 .field-title {

         font-weight: 400;
         margin-top: 90px;
         margin-left: 0px;
         text-align: center;
     }

     .our-core-sub .col-lg-3:nth-child(2) {
         margin-right: 0%;
     }

     .our-core-sub .col-lg-2 {

         max-width: 70% !important;

     }

     .back-image1 {
         margin-left: 0px !important;
     }


     .carrier-popup-overlay .close {
         background: none;
         border: none;
         /* float: right; */
         font-size: 30px;
         font-weight: 700;
         line-height: 1;
         color: #fdfbfb;
         text-shadow: 0 1px 0 #fff;
         opacity: 1;
         z-index: 10;
         /* margin-left: -19px; */
         /* margin: 21px; */
         position: absolute;
         left: 74%;
         top: -25px;
     }

     .corporate-image {
         width: 100%;
     }

     .component.rich-text.col-12.our-service-headline.position-center {
         margin-top: 28px;
         margin-bottom: 0px;
     }

     #footer .f-social-icon ul {

         margin-left: -10px
     }

     .back-image2 .corporate-image .field-promoicon img {
         width: 97% !important;

     }




     .corporate-image .field-promoicon img {
         width: 100% !important;


     }

     /********************digistal experience******************/
     .digital-ourservice-8 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;

     }

     .digital-ourservice-8 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-8 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;

     }

     .digital-ourservice-8 .col-2 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-4 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-cum-sub .col-6 {
         max-width: 100%;
     }

     .component-content .digital-cum-sub1 .col-6 p {
         text-align: justify;
         width: 100%;
         /* line-height: 28px; */
     }

     .digital-cum-sub1 {
         margin-left: 0px;
     }

     .digital-cum-sub {
         display: inherit;
         margin-left: 0px;
     }

     .digital-ourservice-6 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-6 .col-2 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-6 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .coporate-banner h1,
     coporate-banner h4 {
         color: #000;
     }



     .digital-cum-sub .field-promotext2 {
         margin-left: 0px;
     }

     .digital-ourservice-8 .component-content .aiengine-left {
         width: 100%;
         text-align: justify;
     }


     .commerce-image .back-image2 .field-promoicon img {
         width: 90% !important;
         margin-left: 0px !important;
         margin-top: 0px !important;
     }

     #footer .footer-site-info {
         margin-left: 12%;
     }

     .Right-section ul li .field-link a {
         margin-left: 45px;
         padding-top: 9px;
         padding-right: 24px;
     }



     .digital-experience-engineering .component-content {
         background-position: 90% 4%;
     }

     .row .careers-banner .component-content {
         background-position: 100% 0% !important;
     }

     .banner-header h4 {
         font-size: 20px;
     }

     .coporate-banner .component-content {
         background-position: 43% !important;
     }
     .coporate-banner .banner-header
     {
             margin-top: 0px;
    width: 188px;
    padding-left: 47px;
     }
      .digital-experience-engineering .banner-header {
        width: 60%;
        padding-left: 10%;
    }
     .corporate-content-main .row {
         margin: 0px
     }


     .slide .slide-info p:first-child {
         min-width: 360px !important;
         max-width: 90%;
         font-size: 18px;
         line-height: 20px;
     }


     .carousel .carousel-btn {
         font-size: 12px;
         padding: 0px 20px !important;
         font-weight: 400;

     }


     .six-col-content .button {
         margin-left: 10%;
     }

     .main-banner-image-RightText .field-content {
         margin-top: 0% !important;

     }

     .promo .partner-image .field-promoicon img,
     .back-image2 .field-promoicon img {
         max-width: 100%;
         height: auto !important;
     }

     p.partner-para.field-description {

         margin-bottom: 40px !important;
     }

     .partner-content .header-content1 h2 {

         margin-top: 10px;
     }

     .about-us-mission .header-content2 h2 {
         padding-top: 0px;
     }


     .connect-content-about .connect-main-4 .connectUs-inner-content {

         padding-bottom: 50px;
     }

     .about-us-core .core-values h2.field-title {
         margin-top: 0px;
     }

     .component-content .digital-mar .field-promotext {
         text-align: center;
         margin-left: 0px;
     }

     .digital-cum-sub .col-2 img {
         max-width: 100%;
     }

     .google-adwords-img {
         padding: :0px;
     }

     .corporate-image .field-promoicon img {

         margin-top: 80px !important;

     }


     .support-migration {
         max-width: 90%;
         margin-left: 5%;
     }



     .wpcf7 .form-sidebar input {
         width: 100%;
     }

     .opeartion-procees-conent {
         width: 86%;
         margin-left: 9%;
     }

     .partner-content .header-content1 h2 {
         margin-top: 10px;
         padding-right: 0px;
         line-height: 30px;
     }



     .partner-content .header-content1 h2 {
         max-width: 90%;
         text-align: center;
         margin-top: 0px
     }

     #nav-trigger {

         left: 240px;

     }

     .equalized-content .field-content {
         margin-top: 0px;
     }

     .component-content .field-content .banner-header {
         margin-top: 0px;
     }

     .content h1,
     .content h2,
     .rich-text h1,
     .rich-text h2 {
         margin: 0px 0;
     }

     ol.corporate-ol span:first-child {
         width: 85px !important;
     }


     .corporate-text-left .header-content2 p {

         padding-right: 0px !important;
     }

     .corporate-text-left .header-content2 p {
         width: 100%;
         text-align: justify;
     }

     .digital-ourservice-4 .Right-section li absolute {
         margin-left: 35px;
         display: block;
     }





     .carousel .nav-items {
         display: none;
     }

     .connect-us-about .fullwidth-block-background img {
         height: 160px;
     }

     .connect-us-about .connect-main h1 {
         color: #ffffff;
         margin-left: 32px;
     }

     .connect-content-about {
         position: absolute;
         top: 39%;
         background: #fff;
         width: 100%;
         margin-left: 62px;
         height: 58%;
     }


     .connect-main-4 {
         width: 100% !important;
         margin-bottom: 12%;
         margin-top: 2%;
     }

     .circleBase {
         position: absolute;
         top: -23px;
         margin-left: 42% !important;
     }

     .connect-content-about {
         position: relative;
         margin-left: 0px;

     }

     .connect-main .container-connect {
         height: 100%;
     }

     .circleBase {
         position: relative;

     }

     .connect-main-4 .col-4 {
         text-align: center;
         margin-top: 3%;
         padding-left: 40px;
     }

     .about-us-core .component-content:first-child {
         background-position: -349px 0px;
     }

     .our-core-sub .col-lg-3 {

         max-width: 100% !important;

     }

     .our-core-sub {
         max-width: 100% !important;
         margin-left: 0px;

     }

     .core-values .col-lg-6 .field-title {

         font-weight: 400;
         margin-top: 90px;
         margin-left: 0px;
         text-align: center;
     }

     .our-core-sub .col-lg-3:nth-child(2) {
         margin-right: 0%;
     }

     .our-core-sub .col-lg-2 {

         max-width: 70% !important;

     }

     .back-image1 {
         margin-left: 0px !important;
     }

     .carrier-popup-overlay .close {
         background: none;
         border: none;
         /* float: right; */
         font-size: 30px;
         font-weight: 700;
         line-height: 1;
         color: #fdfbfb;
         text-shadow: 0 1px 0 #fff;
         opacity: 1;
         z-index: 10;
         /* margin-left: -19px; */
         /* margin: 21px; */
         position: absolute;
         left: 74%;
         top: -25px;
     }

     .corporate-image {
         width: 100%;
     }

     .component.rich-text.col-12.our-service-headline.position-center {
         margin-top: 28px;
         margin-bottom: 0px;
     }

     #footer .f-social-icon ul {

         margin-left: -10px
     }

     .back-image2 .corporate-image .field-promoicon img {
         width: 97% !important;

     }





     .corporate-image .field-promoicon img {
         width: 100% !important;


     }

     /********************digistal experience******************/
     .digital-ourservice-8 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;

     }

     .digital-ourservice-8 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-8 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;

     }

     .digital-ourservice-8 .col-2 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-4 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-cum-sub .col-6 {
         max-width: 100%;
     }

     .component-content .digital-cum-sub1 .col-6 p {
         text-align: justify;
         width: 100%;
         /* line-height: 28px; */
     }

     .digital-cum-sub1 {
         margin-left: 0px;
     }

     .digital-cum-sub {
         display: inherit;
         margin-left: 0px;
     }

     .digital-ourservice-6 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-6 .col-2 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-6 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .coporate-banner h1,
     coporate-banner h4 {
         color: #000;
     }



     .digital-cum-sub .field-promotext2 {
         margin-left: 0px;
     }

     .digital-ourservice-8 .component-content .aiengine-left {
         width: 100%;
         text-align: justify;
     }


     .commerce-image .back-image2 .field-promoicon img {
         width: 90% !important;
         margin-left: 0px !important;
         margin-top: 0px !important;
     }

     #footer .footer-site-info {
         margin-left: 12%;
     }

     .Right-section ul li .field-link a {
         margin-left: 45px;
         padding-top: 9px;
         padding-right: 24px;
     }


 .analytics-actionable -main .component-content
        {
            background-position: 24%;
        }
     .digital-experience-engineering .component-content {
         background-position: 83% 4%;
     }



     .banner-header h4 {
         font-size: 20px;
     }


     .contact-us-banner .component-content {
         background-position: 48%;
     }




     .six-col-content .button {
         margin-left: 10%;
     }

     .main-banner-image-RightText .field-content {
         margin-top: 0% !important;

     }

     .promo .partner-image .field-promoicon img,
     .back-image2 .field-promoicon img {
         max-width: 100%;
         height: auto !important;
     }

     .partner-content .header-content1 h2 {

         margin-top: 10px;
     }

     .about-us-mission .header-content2 h2 {
         padding-top: 0px;
     }

     /*  .about-us-mission .field-promotext2 {
            padding-top: 0px
        }*/

     .connect-content-about .connect-main-4 .connectUs-inner-content {

         padding-bottom: 50px;
     }

     .about-us-core .core-values h2.field-title {
         margin-top: 0px;
     }

     .component-content .digital-mar .field-promotext {
         text-align: center;
         margin-left: 0px;
     }

     .digital-cum-sub .col-2 img {
         max-width: 100%;
     }

     .google-adwords-img {
         padding: :0px;
     }

     .corporate-image .field-promoicon img {

         margin-top: 80px !important;

     }

     .support-migration {
         max-width: 90%;
         margin-left: 5%;
     }

     #header.container .col-12:nth-child(2) .row {
         margin: 0px 2% 0px 0%;
     }

     .component-content .digital-mar {
         margin-left: 0px !important;
     }




     .digital-ex {
         margin-left: 0px !important;
     }

     .opeartion-procees-conent {
         width: 86%;
         margin-left: 9%;
     }

     .partner-content .header-content1 h2 {
         margin-top: 10px;
         padding-right: 0px;
         line-height: 30px;
     }


     .partner-content .header-content1 h2 {
         max-width: 90%;
         text-align: center;
         margin-top: 0px
     }

     #nav-trigger {

         left: 279px;

     }

     .equalized-content .field-content {
         margin-top: 0px;
     }


     .content h1,
     .content h2,
     .rich-text h1,
     .rich-text h2 {
         margin: 0px 0;
     }

     ol.corporate-ol span:first-child {
         width: 85px !important;
     }


     .corporate-text-left .header-content2 p {

         padding-right: 0px !important;
     }

     .corporate-text-left .header-content2 p {
         width: 100%;
         text-align: justify;
     }

     .digital-ourservice-4 .Right-section li absolute {
         margin-left: 35px;
         display: block;
     }


     .carousel .nav-items {
         display: none;
     }

     .connect-us-about .fullwidth-block-background img {
         height: 160px;
     }

     .connect-us-about .connect-main h1 {
         color: #ffffff;
         margin-left: 32px;
     }

     .connect-content-about {
         position: absolute;
         top: 39%;
         background: #fff;
         width: 100%;
         margin-left: 62px;
         height: 58%;
     }


     .connect-main .container-connect {
         height: 100%;
     }

     .circleBase {
         position: relative;

     }

     .connect-main-4 .col-4 {
         text-align: center;
         margin-top: 3%;
         padding-left: 40px;
     }

     .about-us-core .component-content:first-child {
         background-position: -349px 0px;
     }

     .our-core-sub .col-lg-3 {

         max-width: 100% !important;

     }

     .our-core-sub {
         max-width: 100% !important;
         margin-left: 0px;

     }

     .core-values .col-lg-6 .field-title {

         font-weight: 400;
         margin-top: 90px;
         margin-left: 0px;
         text-align: center;
     }

     .our-core-sub .col-lg-3:nth-child(2) {
         margin-right: 0%;
     }

     .our-core-sub .col-lg-2 {

         max-width: 70% !important;

     }

     .back-image1 {
         margin-left: 0px !important;
     }

     .carrier-popup-overlay .component-content {
         display: inline-block;
         height: 90%;
         vertical-align: middle;
     }

     .carrier-popup-overlay .close {
         background: none;
         border: none;
         /* float: right; */
         font-size: 30px;
         font-weight: 700;
         line-height: 1;
         color: #fdfbfb;
         text-shadow: 0 1px 0 #fff;
         opacity: 1;
         z-index: 10;
         /* margin-left: -19px; */
         /* margin: 21px; */
         position: absolute;
         left: 74%;
         top: -25px;
     }

     .corporate-image {
         width: 100%;
     }

     .component.rich-text.col-12.our-service-headline.position-center {
         margin-top: 28px;
         margin-bottom: 0px;
     }

     #footer .f-social-icon ul {

         margin-left: -10px
     }

     .back-image2 .corporate-image .field-promoicon img {
         width: 97% !important;

     }

     .main-banner-image-RightText .component-content .field-content {
         margin-left: 40%
     }

     .main-banner-image-RightText .component-content h1 {
         text-align: center
     }

     .main-banner-image-RightText .component-content h4 {
         text-align: center
     }



     .corporate-image .field-promoicon img {
         width: 100% !important;


     }

     /********************digistal experience******************/
     .digital-ourservice-8 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;

     }

     .digital-ourservice-8 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-8 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;

     }

     .digital-ourservice-8 .col-2 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-4 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-cum-sub .col-6 {
         max-width: 100%;
     }

     .component-content .digital-cum-sub1 .col-6 p {
         text-align: justify;
         width: 100%;
         /* line-height: 28px; */
     }

     .digital-cum-sub1 {
         margin-left: 0px;
     }

     .digital-cum-sub {
         display: inherit;
         margin-left: 0px;
     }

     .digital-ourservice-6 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-6 .col-2 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-6 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .coporate-banner h1,
     coporate-banner h4 {
         color: #000;
     }



     .digital-cum-sub .field-promotext2 {
         margin-left: 0px;
     }

     .digital-ourservice-8 .component-content .aiengine-left {
         width: 100%;
         text-align: justify;
     }



     .commerce-image .back-image2 .field-promoicon img {
         width: 90% !important;
         margin-left: 0px !important;
         margin-top: 0px !important;
     }

     #footer .footer-site-info {
         margin-left: 12%;
     }

     .Right-section ul li .field-link a {
         margin-left: 45px;
         padding-top: 9px;
         padding-right: 24px;
     }



     .digital-experience-engineering .component-content {
         background-position: 90% 4% !important;
     }



     .banner-header h4 {
         font-size: 20px;
     }

 


     .six-col-content .button {
         margin-left: 10%;
     }

     .main-banner-image-RightText .field-content {
         margin-top: 0% !important;

     }

     .promo .partner-image .field-promoicon img,
     .back-image2 .field-promoicon img {
         max-width: 100%;
         height: auto !important;
     }

     .partner-content .header-content1 h2 {

         margin-top: 10px;
     }


     .connect-content-about .connect-main-4 .connectUs-inner-content {

         padding-bottom: 50px;
     }

     .about-us-core .core-values h2.field-title {
         margin-top: 0px;
     }

     .component-content .digital-mar .field-promotext {
         text-align: center;
         margin-left: 0px;
     }

     .digital-cum-sub .col-2 img {
         max-width: 100%;
     }

     .google-adwords-img {
         padding: :0px;
     }

     .corporate-image .field-promoicon img {

         margin-top: 80px !important;

     }

     .container.inerservice-page .col-12:nth-child(1) .col-12:nth-child(1) {

         max-width: 97%;
         margin-left: 2%;
         width: 100% !important;
     }

     .support-migration {
         max-width: 90%;
         margin-left: 5%;
     }


     .wpcf7 .form-sidebar input {
         width: 100%;
     }

     .opeartion-procees-conent {
         width: 86%;
         margin-left: 9%;
     }



     .partner-content .header-content1 h2 {
         margin-top: 10px;
         padding-right: 0px;
         line-height: 30px;
     }

     .container .partners-banner .component-content {
         background-position: 35% 68% !important;
         /* width: 50%; */
         max-width: 100%;
         height: auto;
     }

     .partner-content .header-content1 h2 {
         max-width: 90%;
         text-align: center;
         margin-top: 0px
     }

     #nav-trigger {

         left: 240px;

     }

     .sticky {

         margin-left: 8%;
     }

     .equalized-content .field-content {
         margin-top: 0px;
     }


     .content h1,
     .content h2,
     .rich-text h1,
     .rich-text h2 {
         margin: 0px 0;
     }


     ol.corporate-ol span:first-child {
         width: 85px !important;
     }


     .corporate-text-left .header-content2 p {

         padding-right: 0px !important;
     }

     .corporate-text-left .header-content2 p {
         width: 100%;
         text-align: justify;
     }

     .digital-ourservice-4 .Right-section li absolute {
         margin-left: 35px;
         display: block;
     }


     .carousel .nav-items {
         display: none;
     }

     .connect-us-about .fullwidth-block-background img {
         height: 160px;
     }

     .connect-us-about .connect-main .title-h1 {

         top: 5%;
         text-align: center;
         margin-left: 10px;
     }

     .connect-us-about .connect-main h1 {
         color: #ffffff;
         margin-left: 32px;
     }

     .connect-content-about {
         position: absolute;
         top: 39%;
         background: #F0F0F0;
         width: 100%;
         margin-left: 62px;
         height: 58%;
     }


     .connect-main-4 {
         width: 100% !important;
         margin-bottom: 12%;
         margin-top: 2%;
     }

     .circleBase {
         position: absolute;
         top: -23px;
         margin-left: 42% !important;
     }

     .connect-content-about {
         position: relative;
         margin-left: 0px;

     }

     .connect-main .container-connect {
         height: 100%;
     }

     .circleBase {
         position: relative;

     }

     .connect-main-4 .col-4 {
         text-align: center;
         margin-top: 3%;
         padding-left: 40px;
     }

     .about-us-core .component-content:first-child {
         background-position: -349px 0px;
     }

     .our-core-sub .col-lg-3 {

         max-width: 100% !important;

     }

     .our-core-sub {
         max-width: 100% !important;
         margin-left: 0px;

     }

     .core-values .col-lg-6 .field-title {

         font-weight: 400;
         margin-top: 90px;
         margin-left: 0px;
         text-align: center;
     }

     .our-core-sub .col-lg-3:nth-child(2) {
         margin-right: 0%;
     }

     .our-core-sub .col-lg-2 {

         max-width: 70% !important;

     }

     .back-image1 {
         margin-left: 0px !important;
     }

     .carrier-popup-overlay .component-content {
         display: inline-block;
         height: 90%;
         vertical-align: middle;
     }

     .carrier-popup-overlay .close {
         background: none;
         border: none;
         /* float: right; */
         font-size: 30px;
         font-weight: 700;
         line-height: 1;
         color: #fdfbfb;
         text-shadow: 0 1px 0 #fff;
         opacity: 1;
         z-index: 10;
         position: absolute;
         left: 74%;
         top: 5px;
     }

     .corporate-image {
         width: 100%;
     }

     .component.rich-text.col-12.our-service-headline.position-center {
         margin-top: 28px;
         margin-bottom: 0px;
     }

     #footer .f-social-icon ul {

         margin-left: -10px
     }

     .back-image2 .corporate-image .field-promoicon img {
         width: 97% !important;

     }




     .corporate-image .field-promoicon img {
         width: 100% !important;


     }

     /********************digistal experience******************/
     .digital-ourservice-8 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;

     }

     .digital-ourservice-8 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-8 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;

     }

     .digital-ourservice-8 .col-2 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-4 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-cum-sub .col-6 {
         max-width: 100%;
     }

     .component-content .digital-cum-sub1 .col-6 p {
         text-align: justify;
         width: 100%;
         /* line-height: 28px; */
     }

     .digital-cum-sub1 {
         margin-left: 0px;
     }

     .digital-cum-sub {
         display: inherit;
         margin-left: 0px;
     }

     .digital-ourservice-6 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-6 .col-2 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .digital-ourservice-6 .col-6 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .coporate-banner h1,
     coporate-banner h4 {
         color: #000;
     }



     .digital-cum-sub .field-promotext2 {
         margin-left: 0px;
     }

     .digital-ourservice-8 .component-content .aiengine-left {
         width: 100%;
         text-align: justify;
     }


     .commerce-image .back-image2 .field-promoicon img {
         width: 90% !important;
         margin-left: 0px !important;
         margin-top: 0px !important;
     }

     #footer .footer-site-info {
         margin-left: 12%;
     }

     .Right-section ul li .field-link a {
         margin-left: 45px;
         padding-top: 9px;
         padding-right: 24px;
     }

     .invigorated-commerce .component-content {
         background-position: 97% 34%;
     }

     .parallax-background > .component-content {
         background-position: 23% 0px;
     }

     .analytics-actionable -main {
         background-position: 24%;
     }

     .invigorated-commerce .field-content {
         margin-top: 0px;
     }

     .inerservice-page . our-services-inner .col-4 {
         margin-top: 24px;
     }

     .inerservice-page . our-services-inner .col-4 ul {
         margin-top: 36px;
     }

     .component-content .field-content .banner-header {
         margin-top: 0px;
         width: 200px;
     }

     .digital-experience-engineering .banner-header {
         margin-left: 10%;
     }

     .invigorated-commerce .component-content .banner-header {
         margin-top: 0%;
         width: 55%;
     }

     .digital-experience-engineering .component-content {
         background-position: 90% 4%;
     }

     .row .careers-banner .component-content {
         background-position: 100% 0% !important;
     }

     .banner-header h4 {
         font-size: 20px;
     }

   


     .six-col-content .button {
         margin-left: 10%;
     }

     .main-banner-image-RightText .field-content {
         margin-top: 0% !important;

     }

     .promo .partner-image .field-promoicon img,
     .back-image2 .field-promoicon img {
         max-width: 100%;
         height: auto !important;
     }

     .partner-content .header-content1 h2 {

         margin-top: 10px;
     }

     .about-us-mission .header-content2 h2 {
         padding-top: 0px;
     }



     .connect-content-about .connect-main-4 .connectUs-inner-content {

         padding-bottom: 50px;
     }

     .about-us-core .core-values h2.field-title {
         margin-top: 0px;
     }

     .component-content .digital-mar .field-promotext {
         text-align: center;
         margin-left: 0px;
     }

     .digital-cum-sub .col-2 img {
         max-width: 100%;
     }

     .google-adwords-img {
         padding: :0px;
     }

     .corporate-image .field-promoicon img {

         margin-top: 80px !important;

     }

     .container.inerservice-page .col-12:nth-child(1) .col-12:nth-child(1) {

         max-width: 97%;
         margin-left: 2%;
         width: 100% !important;
     }

     .support-migration {
         max-width: 90% !important;
         margin-left: 5%;
     }

     .header .col-2 {
         width: 380px;
         max-width: 40%;
         flex: 0 0 22% !important;

     }

     #header.container .col-12:nth-child(2) .row {
         margin: 0px 2% 0px 0%;
     }

 }
