/***************tablet**************************/


@media (min-width: 768px) and (max-width: 1024px) {
    .analytics-actionable -main .component-content {
        background-position: 23% 0px !important;
    }

    .digital-cum-sub {
        display: inline-flex;
    }

    .digital-cum-sub .col-2 {
        display: inline-flex;
        max-width: 38.666667%;
        padding-left: 0px;
        order: 2;
    }

    p.india-para {
        margin-left: 0px !important;

    }

    .component.iframe.contact-us iframe {
        margin-left: 0px;
    }

    .digital-cum-sub .col-6 .field-promotext2 {

        padding-top: 0px;
    }

    .digital-cum-sub .col-6 {
        display: inline-flex;
    }

    .digital-cum-sub:nth-child(2) .col-2 {
        display: inline-flex;
        max-width: 53.666667%;
    }

    .digital-cum-sub:nth-child(2) .col-6 {
        display: inline-flex;
        max-width: 53.666667%;
        padding-left: 0px;
    }

    .analytics-actionable -main .field-content .banner-header {
        margin-top: 0%;
    }

   
    .careers-banner .banner-header {
        padding-left: 10px;
    }

    .component-content .cosnslult-3-com .field-promoicon img {
        width: 50%;
        margin-left: 0px !important;
        margin-left: 33px !important;
    }

    .digital-ourservice-8 .corporate-text-left {
        width: 100%;
    }

    .fullrange-h .field-title {
        line-height: 40px;
    }

    .analytics-aiengine .corporate-image img {
        width: 45% !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
    }

    .invigorated-commerce.main-banner-image-LeftText .component-content {
        background-position: 102%;
        height: 260px;
    }

    .col-4 digital-ourservice-4 .Right-section {
        padding-right: 0px;
    }

    

    .col-4.digital-ourservice-4 .Right-section ul li .field-link {
        padding-left: 56px;
    }

    .header.sticky #nav-trigger {
        left: 563px;
        top: -4px;
    }

    /* background-position: 102%;*/
    

    .carrier-popup-overlay .close {
        top: 0px;
    }

    #header .component.link-list.col-3.position-right {

        padding-top: 10px;
    }

    .carrier-popup-overlay .sitecore-form .ult_modal-content {
        border-bottom: 1px solid #333333;
        width: 100%;
        margin-left: 0px !important;
    }

    .carrier-popup-overlay .col-contact-4 {
        padding-top: 18px;
    }

    .contact-us-banner .banner-header {
        width: 350px !important;
        padding-top: 0px;
        padding-left: 56px;
    }

    .contact-us-banner .boxed position-left {
        padding-top: 0px !important;
    }

    .wpcf7 .form-sidebar textarea {

        width: 306px;
    }

    .corporate-ol li {
        padding-left: 18%;
    }

    .leading {
        max-width: 100% !important;
        margin-left: 20px;
    }

    .partner-content .header-content1 p {
        padding-left: 15px;
        padding-right: 12px;

    }

   

   

    

    .coporate-banner .component-content {
        background-position: 42% !important;
    }



    .corporate-ol li:first-child {
        padding-bottom: 5px;
    }

    .coporate-banner .banner-header {

        padding-top: 0px;
        margin-top: 0px !important;
        width: 387px;
        padding-left: 40%;
        margin-top: 0% !important;
    }

    .contact-us-banner.main-banner-image-RightText .component-content {
        background-position: 15% 0px !important;
    }

    .digital-experience-engineering .banner-header {
        width: 60%;
        padding-left: 8%;
    }

    .partners-banner .banner-header {
        width: 410px;
        padding-left: 10%;
    }

    .contact-captcha {
        transform: scale(0.77);
        -webkit-transform: scale(1.02);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .main-digital-exp .subfullrange.col-6 {
        max-width: 46% !important;
    }

    .wpcf7 .form-sidebar input.btn.btn-red {
        margin-top: 34px;

    }

    .position-left .component-content .field-content .banner-header {
        margin-top: 0%;
        width: 50%;
    }

    . position-right .component-content .field-content .banner-header {
        margin-top: 0%;
        width: 50%;
    }

    position-right .contact-us.iframe.contact-us iframe {
        margin-left: 20px;
        width: 100%;
    }

    #header .sticky .image {
        max-width: 18% !important;
        margin: 5px 0px 7px 0px;
    }

   

    

    /*#header .sticky img {

        margin: 0px 0px 0px 0px;
    }
	*/

    /* #header .sticky img {
            max-width: 60%;
            padding-top: 0px;
        }*/

    


    .ContactUs-map {
        flex: 0 0 100%;
        max-width: 53.666667%;
    }

    .header .col-2 {
        width: 732px;
        max-width: 40%;
        flex: 0 0 100% !important;

    }

    /*  #header .image {
            max-width: 22% !important;
            margin: 0px 0px 7px 0px;
        }*/

    #header.container .col-12:nth-child(2) .row {
        margin: 0px 0% 0px 0%;
    }

    .analytics-aiengine .corporate-image img {
        width: 95% !important;
    }

    .commerce-image .back-image2 .field-promoicon img {
        width: 38% !important;
        margin-left: -45px !important;
        margin-top: 0px !important;
        width: 50%;
    }

    .about-us-core .component-content {
        background-position: 44% !important;
    }

    digital-cum-sub1 {
        flex: 0 0 100%;
        max-width: 100%;
    }

   
    .component-content .digital-cum-sub1 .col-2 img {
        /* max-width: 300% !important; */
        margin-left: 36px !important;
        margin-top: 23px;
    }

    .carrier-popup-overlay .close {
        top: 25px;
    }

    .carrier-popup-overlay .col-contact-4 {
        margin-left: 13% !important;
    }

    corporate-ol li:before {
        position: absolute;
        left: 5px;
        content: counter(step-counter);
        /* background-color: green; */
        font-weight: bold;
        border-radius: 50%;
        color: white;
        width: 45px !important;
        height: 45px;
        text-align: center;
        line-height: 1.5em;
        width: 100%;
        border: solid #00bcd4 2px;
        color: #00bcd4;
        padding-top: 2%;
    }

    

    

    .slide .slide-info p:nth-child(1) {

        min-width: 640px !important;
    }

    .enterprise-why .field-image img {
        display: none;
    }

    .col-contact-4 .sitecore-form {
        margin-left: 0px !important;
    }

    .col-contact-4 .sitecore-form {
        margin-left: 0px !important;
    }

    h1 {
        font-size: 30px !important;

    }

    

    .home-what-line {
        top: -8px;
        left: 224px;
        width: 37%;
    }



    .col-3-home-4 .col-12 .col-12 p.quickfinder-item-text.field-promotext2 {
        width: 210px;
    }



    .enterpriseChild .col-lg-3 {
        max-width: 50%;
    }

   

   
    /*****************aboout page*****************/
    
    .our-core-sub .core-img img {

        margin-left: 16px;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 28px;
        min-width: 40px;


    }

   
    .our-core-sub {

        margin-left: 0px !important;

    }

    .core-values .col-lg-6 .col-lg-3 .col-lg-2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .core-values .col-lg-6 .field-title {
        margin-left: 14px;
    }

    

    .our-core-sub {
        margin-left: 3px;

    }

    
    .our-core-sub .col-lg-2 {

        max-width: 73% !important;

    }

    
    .our-core-sub .col-lg-3 {

        max-width: 36% !important;
        margin-bottom: 60px !important;

    }

    .main-banner-image-RightText .component-content .field-content {
        margin-left: 40%
    }

    .main-banner-image-RightText .component-content h1 {
        text-align: center
    }

    .main-banner-image-RightText .component-content h4 {
        text-align: center
    }

    .main-banner-image-RightText .component-content {

        background-position: 20% 0px !important;

    }

    .Right-section ul li:before {

        position: inherit !important;

        padding-right: 15px !important;
    }

    .Right-section ul li .field-link a {
        margin-left: 0px !important;
        padding-top: 9px !important;
        padding-left: 0px !important;
        padding-right: 3px !important;


        width: 12px !important;

    }

    /****************digital experiece*******************/
    .digital-ourservice-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .digital-ourservice-6 .col-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .digital-ourservice-6 .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .digital-ourservice-6 .col-6 p.field-promotext2 {
        margin-left: 0px !important;
    }

    .commerce-image .back-image2 .field-promoicon img {
        width: 59% !important;
        margin-left: -130px !important;
        margin-top: 0px !important;
    }

    .corporate-text-left .header-content2 p {
        width: 100% !important;
        text-align: justify;
    }

    .corporate-image .back-image2 .field-promoicon {
        float: left;
        width: 100%;
        height: 100%;
    }

    .corporate-text-left {
        width: 100%;
        float: left;
        margin-left: 0px;

    }

    ol.corporate-ol span:first-child {

        width: 45px !important;
        height: 45px;
    }

    ol.corporate-ol span {
        width: 60px !important;
        height: 50px;

    }



    .commerce-image .back-image2 .field-promoicon img {

        margin-left: 0px !important;

    }

    .corporate-image img {

        position: inherit;
        width: 100% !imporant;

    }

    .commerce-image .back-image2 .field-promoicon img {
        width: 100% !important;

    }

    .analytics-aiengine .aiengine-left {
        width: 100%;
    }

    .contact-us-banner .component-content {
        background-position: 50%;

    }

    .container .partners-banner .component-content {
        background-position: 35% 68% !important;
        /* width: 50%; */
        max-width: 100%;
        height: auto;

    }

    .main-banner-image-RightText .component-content {
        min-height: 200px;

    }

    .corporate-text-left {
        width: 50%;
        /* float: left; */
        margin-left: 0px;
    }

    .corporate-image .back-image2 .field-promoicon {
        float: left;
        width: 100%;
        height: 100%;

    }

    .corporate-image {
        width: 100% !important;
    }

    .corporate-image img {
        width: 100% !important;
    }

   /* #header .sticky img {

        max-width: 100%;
        height: auto;
        width: 100%;
        margin-top: 0px;
        padding-top: 10px;
    }

    #header .image {
        max-width: 18% !important;
        margin: 0px 0px 7px 0px;
    }
*/
    .career-field-jobapplied {
        width: 228px !important;

    }

    .Contact-Information .col-8 {
        flex: 0 0 100%;
        max-width: 100%;

    }

    .contactus-right {
        margin-bottom: 0px;
    }

    .at-follow-tbx-element p {
        padding-bottom: 0px;
        float: left;
        padding-top: 0px;
        margin-right: 32px;
    }

    .col-4.icon-cont {
        max-width: 48% !important;
        float: right;
    }

    .Contact-Information .component.column-splitter .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .Contact-Information .at-follow-tbx-element {
        margin-left: 36%;
    }

    .addthis_inline_follow_toolbox_9eon {
        margin-top: 20px;
    }

    form h4.widget-title {
        margin-top: 38px !important;
        margin: 6px 0;
    }

    .wpcf7 .form-sidebar input {
        width: 88%;
    }

    .contact-list .contacts-address {
        margin-left: 0px;
    }

    .Contact-Information {
        margin-left: 0px;
    }

    .Contact-Information .col-8 .component.rich-text.col-12 {
        padding-left: 0px;
    }

    .contactus-right .contacts-address .contact-list {
        margin-left: 0px;
    }

    .contactus-right .contacts-address .contact-list .gem-contacts-item gem-contacts-address,
    .contactus-right .contacts-address .contact-list li {
        margin-left: 0px;
    }

    .contactus .contactus-right {
        max-width: 50.333333% !important;
        display: inline-flex;
        flex: 0 0 87.333333%;

    }

    .contacts-social-icons li.facebook-icon {
        width: 50px;
        float: left;
    }

    .contacts-social-icons li.linkedin-icon {
        width: 50px;
        float: left;
    }

    .contactus {
        margin-top: 30px;
    }

   
}
