<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="AIEnterprise.Feature.SiteMap.AIEnterpriseSiteMapGenerator, AIEnterprise.Feature.SiteMap" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
