<!--
	Unicorn.Configs.Default.Users.config

	This is an example of how to configure a basic Unicorn configuration to include a set of users to sync.

	http://github.com/kamsar/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <defaults>
        <!-- Note: do not colocate serialized items and serialized roles in the same folder -->
        <userDataStore physicalRootPath="$(sourceFolder)\project\serialization\$(configurationName)" type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" singleInstance="true"/>
        <userLoader type="Unicorn.Users.Loader.UserLoader, Unicorn.Users" singleInstance="true" />
        <userLoaderLogger type="Unicorn.Users.Loader.DefaultUserLoaderLogger, Unicorn.Users" singleInstance="true" />

        <userSerializationFormatter type="Unicorn.Users.Formatting.YamlUserSerializationFormatter, Unicorn.Users" singleInstance="true" />

        <!-- 
					If you set RemoveOrphans to true, role syncing will delete matching roles that are not serialized, like item syncing does.
					If set to false, roles are only ever added or updated (similar to New Items Only item syncing but updates are also synced)
				-->
        <roleSyncConfiguration removeOrphans="true" type="Unicorn.Roles.Loader.DefaultRoleSyncConfiguration, Unicorn.Roles" singleInstance="true" />
      </defaults>
      <configurations>
        <!--
					Regular Unicorn configurations can be extended to include roles via the UserPredicate
					
					NOTE: Configurations which include users should not be using transparent sync. Users do not sync transparently.
					
					How do users sync?
					Users sync by default quite similarly to regular Unicorn items: users on disk are the master.
					Using the UserSyncConfiguration you can set up to have users not be deleted if they are not serialized.
				-->
        <configuration name="AIEnterprise.User" description="Configuration to serialize sitecore Users">
          <predicate type="Unicorn.Roles.Predicates.EmptyPredicate, Unicorn.Roles" singleInstance="true" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="sitecore" />
          </userPredicate>
          <userSyncConfiguration removeOrphans="true" defaultPassword="Password123" minPasswordLength="8" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
