<!--
	Unicorn.Configs.Default.Roles.config

	This is an example of how to configure a basic Unicorn configuration to include a set of security roles to sync.
 
	http://github.com/kamsar/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <defaults>
        <!-- Note: do not colocate serialized items and serialized roles in the same folder -->
        <roleDataStore physicalRootPath="$(sourceFolder)\project\serialization\$(configurationName)" type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" singleInstance="true"/>
        
        <roleLoader type="Unicorn.Roles.Loader.RoleLoader, Unicorn.Roles" singleInstance="true" />
        <roleLoaderLogger type="Unicorn.Roles.Loader.DefaultRoleLoaderLogger, Unicorn.Roles" singleInstance="true" />

        <roleSerializationFormatter type="Unicorn.Roles.Formatting.YamlRoleSerializationFormatter, Unicorn.Roles" singleInstance="true" />

        <!-- 
					If you set RemoveOrphans to true, role syncing will delete matching roles that are not serialized, like item syncing does.
					If set to false, roles are only ever added or updated (similar to New Items Only item syncing but updates are also synced)
				-->
        <roleSyncConfiguration removeOrphans="true" type="Unicorn.Roles.Loader.DefaultRoleSyncConfiguration, Unicorn.Roles" singleInstance="true" />
      </defaults>      
      <configurations>
        <!--
					Regular Unicorn configurations can be extended to include roles via the RolePredicate
					
					NOTE: Configurations which include roles should not be using transparent sync. Roles do not sync transparently.
					
					How do roles sync?
					Roles sync by default quite similarly to regular Unicorn items: roles on disk are the master.
					Using the RoleSyncConfiguration you can set up to have roles not be deleted if they are not serialized.
					
					Note that because roles are just strings and have no internal ID (such as NTFS' SIDs), if a role is ever accidentally removed,
					simply creating a new role of the same name will restore all permissions previously held by that role.
				-->
        <configuration name="AIEnterprise.Roles" description="Configuration to serialize sitecore Roles">
          <predicate type="Unicorn.Roles.Predicates.EmptyPredicate, Unicorn.Roles" singleInstance="true" />
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="sitecore" />
          </rolePredicate>
          <roleSyncConfiguration removeOrphans="false" type="Unicorn.Roles.Loader.DefaultRoleSyncConfiguration, Unicorn.Roles" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
